.navbar {
  @apply h-16 w-full px-5 py-1.5;
  @apply fixed top-0 overflow-auto;

  @apply md:px-14;

  @apply lg:px-14;
  @apply lg:h-24;

  background: #df763e;

  &__content {
    @apply flex h-full w-full items-center justify-between;
  }

  &__logo {
    @apply h-6;

    @apply lg:h-8;
  }
}

.nav-options {
  font-family: Mulish;
  font-size: 17px;
  font-weight: 400;
  line-height: 14.72px;
  text-align: center;

  @apply flex h-full items-center bg-red-500 px-10;

  &__wrapper {
    @apply flex h-full;
    @apply sm:hidden;
  }
}
