.who-we-are {
  @apply flex justify-between;

  @apply flex-col gap-5;
  @apply md:flex-col md:gap-7;

  @apply lg:flex-row;

  &__header {
    @apply flex flex-col gap-6;

    @apply max-w-[650px];
  }

  &__content {
    @apply flex flex-col gap-6;

    @apply lg:max-w-[598px];

    p {
      @apply text-vizi-main-1 font-normal;

      @apply text-xs;
      @apply text-base;
    }
  }

  &__delivered {
    @apply bg-vizi-azul-100;

    &-content {
      @apply grid  justify-between;

      @apply gap-5;
      grid-template-columns: repeat(1, min-content);

      @media (min-width: 575px) and (max-width: 1330px) {
        @apply justify-center gap-x-7 gap-y-14;
        grid-template-columns: repeat(2, min-content);
      }

      @media (min-width: 1331px) {
        grid-template-columns: repeat(4, min-content);
      }
    }
  }
}
