.layout {
  @apply mt-[62px];
  @apply desktop:mt-[94px];
}

.page {
  min-height: 200vh;
  background: red;
}

.teste {
  font-size: 50px;
  background: red;

  @apply bg-blue-500 text-white;

  @apply mobile:text-red-500;
  @apply tablet:text-green-500;
  @apply desktop:text-yellow-500;
}
