.time-to-change-is-now {
  @apply md:flex;

  &__container {
    @apply bg-vizi-azul-100;

    @apply md:py-0 md:pr-0;
  }

  &__content {
    @apply grow self-center;
  }

  &__title {
    @apply items-start font-extrabold  text-vizi-white-100;

    @apply text-[26px]  leading-[26px];
    /* @apply items-start text-[44px] font-extrabold leading-[48px] text-vizi-white-100; */
  }

  &__description {
    @apply flex flex-col text-base font-normal text-vizi-white-100;

    @apply max-w-[390px] text-xs;
    /* @apply flex max-w-[390px] flex-col text-base font-normal leading-[22px] text-vizi-white-100; */
  }

  &__items {
    @apply flex flex-col;

    @apply gap-2 pt-5;
    @apply md:gap-[15px] md:pt-[33px];
  }

  &__figure {
    @apply w-full pt-8;
    @apply md:h-[369px] md:w-[40%] md:pt-0;

    &,
    &-image {
      @apply sm:h-[177px];
    }

    &-image {
      @apply bg-no-repeat;

      @screen sm {
        background-size: 165%;
        background-position: 85% 60%;
        @apply absolute left-0 right-0;
      }

      @screen md {
        background-size: 365%;
        background-position: 72% 100%;
        @apply h-full w-full;
      }
    }
  }
}
