.time-to-change-is-now {
  @apply md:flex;
  @apply lg:flex;

  &__container {
    @apply bg-vizi-azul-100;

    @apply sm:pb-0;
    @apply md:py-0 md:pr-0;
    @apply lg:py-0 lg:pr-0;
    @apply break:pr-12;
  }

  &__content {
    @apply grow self-center;

    @apply pb-8;
    @apply md:pb-0;
    @apply lg:pb-0;
  }

  &__title {
    @apply items-start font-extrabold  text-vizi-white-100;

    @apply text-[26px]  leading-[26px];
    @apply lg:text-[38px] lg:leading-[48px];
    @apply xl:text-[44px] xl:leading-[48px];
  }

  &__description {
    @apply flex max-w-[390px] flex-col text-base font-normal text-vizi-white-100;

    @apply text-xs;
    @apply lg:text-base lg:leading-[22px];
  }

  &__items {
    @apply flex flex-col;

    @apply gap-2 pt-5;
    @apply md:gap-[15px] md:pt-[33px];
    @apply md:pt-14 lg:gap-[60px];
  }

  &__figure {
    @apply w-full;

    @apply h-[177px];
    @apply md:h-[369px] md:w-[40%];
    @apply lg:h-[510px] lg:w-[45%];
    @apply xl:h-[798px] xl:w-[52%];

    &,
    &-image {
    }

    &-image {
      @apply bg-no-repeat;

      @apply h-full w-full;
      background-position: 72% 100%;

      @screen sm {
        @apply absolute left-0 right-0 h-[177px];
        background-position: 85% 60%;
        background-size: 165%;
      }

      @screen md {
        background-size: 365%;
      }

      @screen lg {
        background-size: 365%;
      }

      @screen xl {
        background-size: 350%;
      }
    }
  }
}
